//TOPBAR COLORS
$TopBarBackColor : rgb(65, 57, 75);
// $TopBarRightColor : #ceb6b6;
$TopBarRed: #C80036;
$TopBarBlue: #0C1844;


//NavBar Colors
$NavBarColor1 : #2F3645;
$NavBarColor2 : #939185;

$NavBarFontColor : rgb(255, 255, 255);
$NavBarHoverColor : rgb(138, 137, 137);
$NavBarHoverFontColor : rgb(255, 255, 255);
$NavBarActiveColor : rgb(138, 137, 137);



