* {
  margin: 0;
  padding: 0;
  

}



/* CSS */
#btn-getStarted {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 10px 20px; 
  margin-top: 22px;
  position: absolute;
  font-size: 20px;
  left: 46%;
}

#btn-getStarted:hover {
  background-color: #fff;
}

#btn-getStarted:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  #btn-getStarted {
    min-width: 120px;
    padding: 0 25px;
  }
}




.background {
        background: rgba(0, 0, 0, 0.7) url("{% static 'images/_bg/11.jpg' %}") ;
        background-size: cover;
        background-blend-mode: darken;
} 

.customHR{
    width: 50%; 
    border: 1px solid linear-gradient(90deg, #C80036 0%, #0C1844 100%);
    margin: 20px auto; 
    opacity: 0.7; 

}
.newCustomHR{
  border: none;
  width: 260px;
  height: 5px;
  /* background-color: white; */
  background: white;
  /* background-color: linear-gradient(90deg, #810426 0%, #0C1844 100%); */
  /* background: linear-gradient(90deg, #810426 0%, #0C1844 100%); */
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 348px;
  display: flex;
}


.text-big {
 
    /* background-color: #000000; */
    display: block;
    font-family: "Montserrat";
    --gradient-position: 50%;
    background: -webkit-linear-gradient(348deg, #850101 0%, #ea0909 28.66%, #8a0303 32.66%, #74043e 33%, #772b2b 37%, #c90404 45%, #b43c0c 47.5%, #e10808 48%, #314dee 50.5%, #c92727 64%, #FF31A1 69%, #000000 70%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 200% 100%, 100% 100%;
    background-position: var(--gradient-position) 50%, 50% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 0;
    /* color: #ffffff; */
    text-align: center;
    /* background-color: white; */
    font-size: 56px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);  /* Adjust the shadow to your preference */
}
.sec-text-big{
font-size: 48px;
font-family:"Montserrat" ;
text-align: center;
color: #ffffff;
font-weight: 400;
position: absolute;
display: flex;
align-items: flex-start ;
/* padding-top:5px; */
/* margin-top: 10px; */
margin-bottom: 250px;

}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.data {
  width: 700px;
  height: 152px;
  background: linear-gradient(270deg, #C80036, #1e3588, #1c4ac9, #750229);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 auto; /* Centers the box horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.project-info, .client-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-info {
  margin-left: 50px;
}
.client-info{
  margin-right : 50px;
}
.number {
  font-size: 36px;
  font-weight: bold;
}

.label {
  font-size: 18px;
  margin-top: 5px;
}



.text-testi{
 
    margin-top: 10px;
    display: block;
    font-family: "Montserrat";
    position: relative;
    text-align: center;
    color: #0c1227;
    font-size: 47px;
    font-weight: 500;
}


.text-small {
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Montserrat";
  margin-top: 10px;
}



.text-biggg{
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  background-color:transparent;
  display: block;
  font-family: "Montserrat";
}






#dynamicText {
  /* font-weight: bold; */
  color: #C80036; /* Customize the color as needed */
  /* transition: opacity 0.5s ease-in;
  opacity: 1;  */
  text-decoration: none; 
}

/* .btn-big #btn-getStarted {
  background-color: transparent;
  color: white;
  padding: 10px 20px; 
  border-radius: 23px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  position: absolute;
  margin-top: 22px;
  cursor: pointer;
  left: 50%; 
  transform: translateX(-50%); 

} */
/* 
.btn-big #btn-getStarted:hover {
  background-color: white;
  color: #8a0226;
  transition: 0.7s;
} */

/* .btn-big  .clicked{

} */



.contact-info{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: auto;
  height: 90vh;
  color: white;
  /* background: linear-gradient(90deg, #040458 0%, #700808 100%); */
  /* background: rgb(0, 0, 0); */
  background: linear-gradient(90deg, #810426 0%, #0C1844 100%);
  flex-direction: column;
  font-family: "Montserrat";
}

.contact-info-container input{
width : 50%;
padding: 20px 20px;
background-color: #ece8e8;
color: rgb(0, 0, 0);
/* border: 1px solid #000; */
align-items: center;
justify-content: center;
text-align: center;
border-radius: 10px;
margin: auto;
height: 2px;
font-size: 16px;
font-family: "Montserrat";
margin-bottom: 6px;

}
.contact-info-container input:focus{
border: 1px solid rgb(151, 8, 8);
}

.contact-info-container .textfield{
  /* width: 50%;  */
    /* background-color: #e6e0e0; */
  color: rgb(255, 255, 255);
    /* border: 1px solid #000; */
    height: px;
    font-family: "Montserrat";
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 42px;
    margin-bottom: 10px;
 

}


.contact-info-container .messageField{

  height: 150px;
}

.contact-info-container {
  max-width: 650px;
  background: #dfdfeb1c;
  max-height: 405px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 650px;
}







.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  margin: auto;
  font-size: 20px;
  margin-bottom: 20px;
}
.button-57 span img{
  width: 35px;
  height: 30px;
  /* margin: 0px 10px; */
  justify-content: center;
  align-items: center;


}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}



 #contact-socials{
/* background-color: rgb(253, 165, 1); */
display: flex;
justify-content: center;
align-items: center;
margin: auto;
margin-top: 100px;
border-radius: 10px;
 
}

#contact-socials a {
  padding: 2px 10px;
}

 /* .contact-info-container{
  max-width: 100%;
  background: #dfdfeb1c;
  max-height: 85%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}  */


.btn-big img{
  width: 35px;
  height: 30px;
  margin: 0px 10px;
}







/*=======================================
 03.Preloader
=======================================*/
.preloader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #070707;
  z-index: 999999999;
}
.preloader::before {
  position: absolute;
  top: 45%;
  content: url("../images/bg/footer-logo.svg");
  width: 100%;
  /* max-width: 300px; */
  margin: auto auto;
  text-align: center;
  transform: scale(4);
  opacity: 0.15;
}
@media (max-width: 991px) {
  .preloader::before {
    transform: scale(1.5);
  }
}
.preloader.active {
  transform: translateY(-100vh);
  transition: ease-in-out 1.5s;
  transition-delay: 1s;
}
.preloader .counter {
  position: relative;
  color: #fff;
  font-size: 6rem;
  font-weight: 600;
  z-index: 1;
}
.preloader .counter::after {
  content: "%";
  font-size: 80px;
}
.preloader .hide {
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}



/*=======================================
 04.Magic Cursor
=======================================*/
#magic-cursor {
  position: absolute;
  display: none;
  width: 25px;
  height: 25px;
  pointer-events: none;
  z-index: 99999;
  opacity: 0;
  padding: 20px;
}

body.tt-magic-cursor #magic-cursor {
  display: block;
}

#ball {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light-one);
  pointer-events: none;
  border-style: solid;
  border-radius: 50%;
  border-color: var(--text-light2);
  /* Note: border width handled through JS */
}

.cursor-style-two {
  border-radius: 0% !important;
  background-color: var(--white) !important;
  color: #000 !important;
  padding: 15px;
  font-family: var(--font-kegina);
}





/*=======================================  TOPBAR START  =======================================*/
.topbar-bg {
  background: linear-gradient(70deg, rgba(249, 249, 249, 0.78) 10%, rgba(255, 242, 232, 0.87) 80%);
}

.topbar-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  padding: 7px 45px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .topbar-area {
    padding: 7px 100px;
  }
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .topbar-area {
    padding: 7px 100px;
  }
}
@media (max-width: 1199px) {
  .topbar-area {
    display: none;
    visibility: hidden;
  }
}
.topbar-area .address i {
  color: var(--primary-one);
  font-size: 15px;
  margin-right: 6px;
}
.topbar-area .address a {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary);
}

.topbar-five {
  background: linear-gradient(90deg, #C80036 0%, #0C1844 100%);
}
@media (max-width: 955px) {
  .topbar-five {
    display: none;
    visibility: hidden;
  }
}

.topbar-five-left {
  padding: 10px 0px 10px 110px;
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .topbar-five-left {
    padding: 10px 0px 10px 70px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .topbar-five-left {
    padding: 10px 0px 10px 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .topbar-five-left {
    padding: 10px 0px 10px 30px;
  }
}
@media (max-width: 991px) {
  .topbar-five-left {
    padding: 10px 0px 10px 10px;
  }
}

.topbar-five-right {
  padding: 10px 110px 10px 10px;
  position: relative;
  display: block;
  z-index: 1;
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .topbar-five-right {
    padding: 10px 70px 10px 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .topbar-five-right {
    padding: 10px 40px 10px 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .topbar-five-right {
    padding: 10px 30px 10px 10px;
  }
}
@media (max-width: 991px) {
  .topbar-five-right {
    padding: 10px 0px 10px 10px;
  }
}
.topbar-five-right::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #C80036 0%, #0C1844 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 6% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 6% 50%);
  z-index: -1;
}

.topbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.topbar-list li {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-secondary);
  font-family: var(--font-dm);
  transition: 0.45s ease;
}
.topbar-list li:hover {
  color: var(--primary-one);
}
.topbar-list li a {
  color: inherit;
}

.topbar-address-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-end;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .topbar-address-list {
    gap: 25px;
  }
}
.topbar-address-list li {
  font-size: 15px;
  font-weight: 400;
  color: var(--white);
  font-family: var(--font-dm);
}
.topbar-address-list li i {
  margin-right: 5px;
}
.topbar-address-list li a {
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 14px;
}

.topbar-three {
  background-color: var(--text-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 6%;
}
.topbar-three .topbar-left h6 {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
}
.topbar-three .topbar-left a {
  background: linear-gradient(45deg, var(--linear-blue), var(--linear-green) 80%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*=======================================  TOPBAR END  =======================================*/
.navbar-scrolled {
  height: 50px !important;
  transition: all 0.3s ease;
}
.navbar-scrolled .nav-logo  a img{
  transition: all 0.3s ease;
  width: 48px;
  height: 48px;

}
.navbar-scrolled .nav-right .search-button {
  transition: all 0.3s ease;
  width: 26px;
  height: 25px;
}
.navBar {
  position: relative;
  background-color: white;
  display: flex;
  margin-right: 0px;
  position: sticky;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 74px;
  cursor: pointer;
  /* word-wrap: break-word;
  word-break: break-word; */
  cursor: default;
  z-index: 1;
}



.navBar .nav-logo {
  padding-left: 30px;
  padding-top: 4px;
  justify-content: center;
  align-items: center;
}
.nav-logo  a img{
  transition: all 0.3s ease;
width: 70px;
height: 70px;
}

.navBar .nav-right{
  max-width: 30%;
}
.navBar .nav-right .search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.navBar .nav-right .search-bar {
  position: relative;
  display: flex;
  align-items: center;
  transition: width 0.3s ease;
  width: 0;
}
.navBar .nav-right .search-input {
  width: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.navBar .nav-right .close-icon {
  font-size: 20px;
  cursor: pointer;
  margin-left: -30px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.navBar .nav-right .search-button {
  padding: 20px 20px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;

}


.navBar .nav-right .search-bar.expanded {
  width: 200px;
}
.navBar .nav-right .search-bar.expanded .search-input {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.navBar .nav-right .search-bar.expanded .close-icon {
  visibility: visible;
  opacity: 1;
}
.navBar .nav-list {
  width: 70%;
  display: flex;
}
.navBar .nav-list li {
  padding: 30px 1px 23px 40px;
  list-style: none;
}
.navBar .nav-list li a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 600;
  color: #0C1844;
  font-size: 14px;
}
.navBar .nav-list li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #C80036;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.navBar .nav-list button {

  width: 70px;
  height: 30px;
 
  margin-left: 40px;
  margin-top: 25px;
  color: white;
  cursor: pointer;

  background-color: #8a0303;
  font-family: "Montserrat";
  border-radius: 6px;
  font-weight: 400px;
}
.navBar .nav-list button:hover{

  background-color:#6e0101 ;

}
.navBar .nav-list li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}


/*=======================================
   14. Banner-section
=======================================*/
.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: auto;
  height: 80%;

}

.firstSection {
  height: 86vh;
}

.firstHalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.secondHalf img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 73px;
  /* padding-top: 74px; */
  justify-content: center;
}

.arrow-button {
  display: flex;
  margin: auto;
}

.arrow-button:hover {
  background-color: #586069; /* Darker shade on hover */
}

.arrow-button span {
  margin-right: 10px; /* Space between text and icon */
}

.arrow-button svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.arrow-button:hover svg {
  transform: translateX(5px); /* Icon movement on hover */
}


.sectionContent .text-bigy{
  margin-top: 10px;
  display: block;
  font-family: "Montserrat";
  position: relative;
  text-align: center;
  color: #0c1227;
  font-size: 47px;
  font-weight: 500;

}
.sectionContent .text-small {
  color: #000000;
  font-size: 20px;
  margin-bottom: 28px;
  /* background-color: #0A2078; */
}

.sections {
  background-color: rgb(255, 255, 255);
  /* background: linear-gradient(90deg, #C80036 0%, #0C1844 100%); */
}

.sections .secRight {
  border-radius: 8px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 85%;
  margin: auto;
  max-height: 7%;
  margin-top: 4px;
  /* background: linear-gradient(90deg, #a3465f 0%, #243c94 100%); */
  background: #dfdfdf;
  background: linear-gradient(90deg, #b03535 0%, #5168c5 100%);
  
}

  .sections .secRight .thumbnail img {
    width: 450px;
    height: 450px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  .thumbnail img:hover {
    transform: scale(1.1); 
  }
  .sections .secRight .sectionTag {
    font-size: 30px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: "Plus Jakarta Sans";
    margin-bottom: 19px;
    /* align-content: ; */
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px 20px;
    padding: 10px 9px 27px 3px;
  }
.sections .secRight .sectionSubTag {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  color: white;
  font-family: "Plus Jakarta Sans";
}

.paragraphs {
  width: 300px;
  padding: 10px;
  height: 430px;
  
  text-overflow: ellipsis;
  overflow: hidden;
  background: #3936361f;
  color: white;
  box-shadow: 2px 2px 2px 2px #524c4c;
  border: 22px black;
  border-radius: 26px;
}
.paragraphs:hover {
  background: rgba(235, 223, 223, 0.5); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


}
/* .paragraphs:hover .sectionTag {
text-decoration: underline;
transition: all 5s ease;

} */
.paragraphs:hover .sectionTag{
  /* background-color: #f8f8f8; */
  /* background-color:#6e0101 ; */
  text-decoration: underline rgb(245, 244, 244);
  text-decoration-thickness: 2px;
  transition: all 0.5s ease;
  /* text-decoration-style: wavy;  */

}
.paragraphs:hover .sectionTag::before {
  visibility: visible;
  transform: scaleX(1);
  
}


.paragraphs .sectionTag {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paragraphs .sectionTag .sectionSubTag {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sections {
  box-shadow: #586069;
}
.sections .secLeft {
  border-radius: 8px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 85%;
  margin: auto;
  max-height: 2%;
  margin-top: 4px;
  /* background: linear-gradient(90deg, #243c94 0%, #e21c51 100%); */
  flex-direction: row-reverse;
  /* background: whitesmoke; */
  /* background: linear-gradient(90deg, #243c94 0%, #a3465f 100%); */
  background: #dfdfdf;
  transition: all 0.5s ease-in;
  background: linear-gradient(90deg, #0A2078 0%, #9F0731 100%);
  background: linear-gradient(90deg, #5168c5 0%, #b03535 100%);


}
.sections .secLeft .thumbnail img {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.thumbnail img:hover {
  transform: scale(1.1); 
}

.sections .secLeft .sectionTag {
  font-size: 30px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: "Plus Jakarta Sans";
  margin-bottom: 19px;
  /* align-content: ; */
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px 20px;
  padding: 10px 9px 27px 3px;
}
.sections .secLeft .sectionSubTag {
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-family: "Plus Jakarta Sans";
}




/* /////////////////////////cards////////////////////////   */

.cards{
  height: 870px;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  margin: auto;
  background-image: url("/static/images/_bg/bss.jfif")  ; 
  background-repeat: no-repeat;
  background-size: cover; /* Optional: to cover the entire area */
  background-position: center; /* Optional: to center the image */
}
.cards img{
  width: 60px;
  height: 60px;
  /* border-radius: 10px; */
margin: 10px 10px;
}
.cardsUpper , .cardsLower{
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 70%;
}
.card1, .card2, .card3 ,.card4 ,.card5 ,.card6{
border: 1px  black;
border-radius: 10px;
width: 350px;
height: 320px;
margin: 20px 20px;
padding: 34px 31px;
background-color: rgb(235, 235, 235);
text-align: center;
align-items: center;
justify-content: center;
box-shadow: 5px 5px 15px rgb(169, 169, 169); /* Example box shadow */
}

.card-text-small{
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: "Plus Jakarta Sans";

}
.apply-link{
  color: #0C1844;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat";
  text-decoration: none;


 
}
.apply-link:hover{
  color: #C80036;
  transition: 0.7s;
  /* text-decoration: underline; */
  
}

.career-cards{
  display: flex;
  flex-direction: row;
}
.card-text-big{
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 24px;
  text-decoration: underline;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: "Plus Jakarta Sans";
}
.card1:hover, .card2:hover, .card3:hover ,.card4:hover ,.card5:hover ,.card6:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 15px rgb(169, 169, 169); /* Example box shadow */
  
}


/* ============================    ABOUT PAGE CONTENT  ============================ */


.aboutContent{
  background-color: rgb(255, 255, 255);
  
}
.aboutContainer{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}
.aboutContainer .about-light{
    justify-content: center;
    align-items: center;
    background-color: rgb(95, 100, 255);
    height: 300px;
    text-align: center;
    background-image: url("/static/images/_bg/R.jpeg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  
}
.aboutContainer .about-dark{
  justify-content: center;
  align-items: center;
  background-color: rgb(178, 178, 196);
  height: 350px;
  text-align: center;
  /* background-image: url("/static/images/_bg/11.jpg");  */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  /* background-color: rgb(233, 233, 233); */
  height: 350px;


}
.aboutText1{
  color: #1e0e0e;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 95px 306px 0px 0px;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  text-align: center;
  
}
.aboutText2{
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 30px;
  padding: 95px 306px 0px 0px;
  font-weight: 500;

  
}
.aboutText2 span{
  color: #0b0808;
  font-weight: 500;
}





/* =====================================  Corousal =============================*/
.carousel {
  position: relative;
  width: 900px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: auto;
    margin-top: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item img {
  width: 100%;
  display: block;
}

.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
}

#carousel-prev {
  left: 10px;
}

#carousel-next {
  right: 10px;
}

.carousel-nav:hover {
  background-color: rgba(0, 0, 0, 0.7);
}



/* ////////////////////////////////////   CONTACT US BUTTON  ///////////////////////////////// */


/* CSS */
.button-85 {
  text-align: center;
  padding: 8px 1px 8px 1px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 120px;
  /* margin: auto; */
  margin: 20px 10px 10px 26px;
  font-size: 14px;
  font-family: 'Montserrat';
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* /////////////////////////////////////////////- CONTACT US BUTTON -////////////////////////////////////////////// */








.clienTestimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: auto;
  height: 80vh;
  background: linear-gradient(90deg, #eaeaed 0%, #efefef 100%);
  background: rgb(255, 255, 255);
}
.clienTestimonial .paragraphs {
  width: 40%;
  font-family: "Montserrat";
  height: 91%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: rgb(255, 129, 129);
}
.clienTestimonial .paragraphs .text-bigg {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  color: #e21c51;
  justify-content: center;
  align-items: center;
}
.clienTestimonial .paragraphs .text-smalll {
  color: #243c94;
  max-width: 52%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 100px;
  text-align: center;
  margin-left: 171px;
 
}
.clienTestimonial .paragraphs .testimonialImage img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 0px 0px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.endingBar {
  background-color: black;
  padding: 25px;
}
.endingBar .endingBarContent {
  color: white;
  display: flex;
  justify-content: center;
  align-items: centefr;
  font-family: "montserrat";
}


.hamburger{
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
  display: none;
}
.line{
  width: 33px;
  background-color: rgb(0, 0, 0);
  height: 4px;
  margin: 5px 4px;

}




.info-box{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000vh;
  margin: auto;
  height: 70vh;
  /* background: linear-gradient(90deg, #040458 0%, #700808 100%); */
  background: linear-gradient(90deg, #a60d0d 0%, #0f267b 100%);
  /* color: #C80036; */
  /* background: rgb(255, 255, 255); */
}

.info-box .text-small{
  font-weight: 400px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.info-box a{
  color: white;
  text-decoration: none;
  padding: 10px 10px;
 }
.info-box a:hover{
  color: #8a7a7a;
  text-decoration: underline;
  transition: all 0.5s ease;
  cursor: pointer;
  text-decoration: none;
}




.info-box .info-sections{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;

}





.section1, .section2 , .section3{
  display: flex;
  flex-direction: column;
  /* background-color: #2cb349; */
  /* background-color: transparent; */
  width: 200px;
  height: 340px;
  justify-content: center;
  align-items: center;
}
.section2{
  width: 250px;
}
/* .section1 .text-small  a:hover{
  color: grey;
} */

.info-sections li{ 
 list-style: none;
}
.divider {
  width: 2px; /* Width of the vertical line */
  height: 150px; /* Height of the vertical line */
  background-color: #000; /* Color of the vertical line */
  margin: 0 20px; /* Horizontal margin between sections */
}
.info-contact li{
  padding: 6px 6px;
  font-size: 17px; 
}
.info-contact li img{
  padding: 10px 10px;
}
/* .info-socials a {
  padding: 4px 21px;
} */

*{
  margin: 0 ;
  padding: 0;
}

@media only screen and (max-width:855px){
  
  *{
   margin: 0 ;
   padding: 0;
   
  }
  .nav-list{
    margin-top: 10px;
    flex-direction: column;
  
  }
  .navBar .nav-list{
    padding-bottom:9px;
    margin-top: 0px;
    list-style: none;

  }
  .navBar{
    flex-direction: column;
    height: 430px;
    /* margin-top: 10px; */
    transition: all 1s ease-out;
    background: #C80036;
    position: relative;
    
    /* max-width: 100vh;
    max-height: 100vh; */

  }
  .navBar .nav-list li a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 600;
    color: #0C1844;
    font-size: 14px;
  }

  .navBar .nav-list li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    font-size: 80px;
    bottom: 0;
    left: 0;
    background-color: #C80036;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  /* .navBar .nav-list button:hover{
    background-color: #f8f8f8;
    background-color:#0C1844; ;
  
  } */
  .navBar .nav-list li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  .nav-logo{
    flex-direction: column;
    /* padding-left: 0px; */
    /* margin: auto;
    margin:0px; */
  }

  .nav-logo .navbar-scrolled-logo { 
    width:50px;
    height:50px;
  }


  
  .nav-right{
    /* display: none; */
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    /* margin-right: 440px; */

  }
 .navBar .nav-right .search-container  {
/* width: 100%; */
visibility: hidden;
display: none;
 }
  .topbar-five{
    display: none;
    visibility: hidden;
  
  }
  .hamburger{
    display: block;
  
  }
  .h-nav-responsive{
    height: 60px;
  }
  .v-class-responsive{
    opacity: 0;
  }



  .box-main{
    max-width: 100%;
    flex-direction: column;
  }
  .box-main .secondHalf{
    max-width: 80%;
  }

  .cards{
     height: 1200px;
   /* width: 26%;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    /* margin: auto; */
    display: flex;
    flex-direction: column; 
  }
  .cardsUpper {
    margin-top: 10px;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .cardsLower{
    flex-direction: column;
    margin-top: 0px;
    
  }
  .card1, .card2, .card3 ,.card4 ,.card5 ,.card6{
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 120px;
    /* margin: 5px 5px; */
    padding: 10px 10px;
    box-shadow: 5px 5px 15px rgb(169, 169, 169); /* Example box shadow */
    }
    .cards img{
      width: 20px;
      height: 20px;
      margin: 0px;
      /* border-radius: 10px; */
    /* margin: 10px 10px; */
    }
    .card-text-small{
      font-size: 8px;
      /* font-weight: 400;
      color: rgb(0, 0, 0);
      font-family: "Plus Jakarta Sans"; */
    
    }
    .card-text-big{
      margin-top: 0px;
      margin-bottom: 6px;
      font-size: 12px;
      /* text-decoration: underline; */
      /* font-weight: 400;
      color: rgb(0, 0, 0);
      font-family: "Plus Jakarta Sans"; */
    }

  .section1, .section2  , .section3{
    width: 84px;
        margin-right: 42px;
        margin-left: 8px;
  }
  .dividerResponsive{
   
    visibility: hidden;
    width: 0px; /* Width of the vertical line */
    height: 0px; /* Height of the vertical line */
    /* background-color: #000; Color of the vertical line */
    margin:  0px; /* Horizontal margin between sections */
  }

  .section1 .text-big, .section2 .text-big , .section3 .text-big{
    font-size: 24px;
    color: white;
  
  }

  .section1  .text-small, .section2  .text-small, .section3 .text-small{
   font-size: 16px;
  }
  .endingBarContent{
    font-size: 12px;
  
  }
  .hamburger.hidden {
    display: none; /* Hidden class to hide the element */
  }
  .newCustomHR{
    display: none;
  
  }
  #btn-getStarted {
    left: 26%;
    padding: 6px 39px;
  }

  .sections .secRight , .sections .secLeft{
height: 400px;
  }

  .sectionContent .text-bigy{
    font-size: 26px;
  }
  .sectionContent .text-small{
    font-size: 16px;
  }
  .sections .secRight .thumbnail img {
    width: 140px;
    height: 360px;
  }
  .sections .secLeft .thumbnail img {
  width: 140px;
    height: 360px;
  }
  .paragraphs{
    width: 150px;
    height: 360px;
  }
  .sections .secRight .sectionTag{
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .sections .secRight .sectionSubTag{
    font-size: 16px;
  }
  .sections .secLeft .sectionTag{
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .sections .secLeft .sectionSubTag{
    font-size: 16px;
  }
  .text-testi{
    font-size: 24px;
  }
  .carousel{
     width: 100%;
  }
}

  








#magic-cursor {
  position: absolute;
  display: none;
  width: 25px;
  height: 25px;
  pointer-events: none;
  z-index: 99999;
  opacity: 0;
  padding: 20px;
}

body.tt-magic-cursor #magic-cursor {
  display: block;
}

#ball {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light-one);
  pointer-events: none;
  border-style: solid;
  border-radius: 50%;
  border-color: var(--text-light2);
  /* Note: border width handled through JS */
}

.cursor-style-two {
  border-radius: 0% !important;
  background-color: var(--white) !important;
  color: #000 !important;
  padding: 15px;
  font-family: var(--font-kegina);
}

/* Ball view
============= */
#ball.ball-view {
  background-color: #000;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  line-height: 1.2;
  text-align: center;
}

#ball .ball-view-inner {
  padding: 0 0px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  font-size: 16px;
}

/* Ball drag
============= */
#ball .ball-drag {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0 0px;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-light-one);
  line-height: 1.2;
  text-align: center;
  transition: 0.3s;
}

#ball .ball-drag::before,
#ball .ball-drag::after {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  font-size: 16px;
  color: var(--text-light-one);
  height: 15px;
  line-height: 15px;
  /* Font Awesome */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#ball .ball-drag::before {
  content: "\f060"; /* Font Awesome */
  left: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.35s;
}

#ball .ball-drag::after {
  content: "\f061"; /* Font Awesome */
  right: 0;
  transform: translate3d(30px, 0, 0);
  transition: 0.35s;
}

/* Ball close
============== */
#ball.ball-close-enabled {
  opacity: 1 !important;
}

#ball .ball-close {
  position: absolute;
  padding: 0 0px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-light-one);
  line-height: 1;
  text-align: center;
}

/* Magnetic cursor
=================== */
.magnetic-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

#ball.magnetic-active {
  border-color: var(--text-light-one) !important;
}

/*=======================================
 05. Direction Hover effect
=======================================*/
.direction-hover {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  position: relative;
  overflow: hidden;
  float: left;
  margin: 1.5%;
  cursor: pointer;
}

.direction-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: -100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.circle-container {
  background: transparent;
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.07);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: 200ms linear;
}
@media (max-width: 991px) {
  .circle-container {
    display: none;
    visibility: hidden;
  }
}
.circle-container.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.circle-container::after {
  position: absolute;
  font-family: "Bootstrap-icons";
  content: "\f145";
  text-align: center;
  line-height: 46px;
  font-size: 28px;
  color: var(--primary-color1);
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: 200ms linear;
}
.circle-container:hover::after {
  position: absolute;
  font-family: "Bootstrap-icons";
  content: "\f145";
  color: var(--green);
  transition: 200ms linear;
}
.circle-container svg path {
  fill: none;
}
.circle-container svg.circle-progress path {
  stroke: var(--primary-color1);
  stroke-width: 5;
  box-sizing: border-box;
  transition: 200ms linear;
}

.grow {
  transform: scale(1.5);
  background-color: var(--white);
  mix-blend-mode: difference;
  border: none;
}


/*=======================================
 11 .Header Start
=======================================*/




