{% load static%}
{% block content%}
<section class=" background firstSection "  >


    <div class="box-main">


        <div class="firstHalf">
        
         <p class="text-small " id= "banner">OUR SERVICES</p>
         <p class="text-big " id= "banner">{{firstSectionContent.description}} <span id="dynamicText" ></span>  
            {% comment %} <div class="btn-big clicked">
            <button id="btn-getStarted"  > Get Started</button>
           
            </div> {% endcomment %}
        </p>
        </div>
        <script src="{% static 'javascript/dynamic.js'%}"></script>
        
      
        


        {% comment %} <div class="arrow-button">
            <img src="{% static 'images/_icons/right-arrow.png' %}" alt="right-arrow" width="80px" height="40px">
        </div>
         {% endcomment %}

    </div>
    
</section>

{% endblock content%}
