{% load static%}
{% block content%}
<section class=" background firstSection "  >

   {% if pageName == 'Services'%}
    <div class="box-main">


        <div class="firstHalf">
        
         <p class="text-small " id= "banner">OUR SERVICES</p>
         <p class="text-big " id= "banner">{{firstSectionContent.description}} <span id="dynamicText" ></span>  
            {% comment %} <div class="btn-big clicked">
            <button id="btn-getStarted"  > Get Started</button>
           
            </div> {% endcomment %}
        </p>
        </div>
        <script src="{% static 'javascript/dynamic.js'%}"></script>
        
      
        


        {% comment %} <div class="arrow-button">
            <img src="{% static 'images/_icons/right-arrow.png' %}" alt="right-arrow" width="80px" height="40px">
        </div>
         {% endcomment %}

    </div>
</section>
<section>
    {% elif pageName == 'Contact'%}
    <div class="box-main">


        <div class="firstHalf">
        
         <p class="text-small " id= "banner" style="text-decoration: underline;"> Contact Us</p>
         <p class="text-biggg " id= "banner"> Lets Get in Touch!
            {% comment %} <span id="dynamicText" ></span>   {% endcomment %}

            <div class="btn-big clicked">
            <button id="btn-getStarted"  > Get Started</button>
           
           

           
            </div> 
          
         
        </p>
        <div class="info-socials " id="contact-socials">
            <a href=""> <img src="{% static 'images/_icons/twitter.svg' %}" alt="X Logo" width="35px" height="35px"> </a>
            <a href="#"> <img src="{% static 'images/_icons/facebook.svg' %}" alt=" facebook" width="35px" height="35px"> </a>
            <a href="https://www.linkedin.com/company/cdoxs/?originalSubdomain=pk"> <img src="{% static 'images/_icons/linkedin.svg' %}" alt=" Linkedin"  width="35px"height="35px"></a>
        </div>
        </div>
      
        <script src="{% static 'javascript/dynamic.js'%}"></script>

        
        
        
        


        
    </div>
    
    
</section>
  <section class = "contact-info">
    <div class="contact-info-container">
    <h1 class="textfield">Write us a Message!</h1>
    <!-- <hr class="customHR"> -->
    <input class="nameField"  type="text" name = "name" placeholder="Enter Your Name">
    <input class="emailField" type="email" name = 'email' placeholder="Enter Your Email Address">
    <input class="messageField" type="message" type = "text" name = "message" placeholder="Enter the Message">
    <button class="btn-big">Submit <img src="{% static 'images/_icons/arr.svg' %}" alt="right-arrow" width="35" height=" 30">  </button>
     </div>    
  </section>

{% endif %}

{% endblock content%}
