{% load static%}
{% block content%}
<div class="cards">
  <div class="cardsUpper">

    
    {% for services in firstThreeServices %}
    <div class="card1">
        {% comment %} <div class="card-image"><img src="{% static 'images/_icons/globe.svg'%}" alt="web development" class="card1Image"></div> {% endcomment %}
        <div class="card-image"><img src="{{services.icon.url}}" alt="icon" class="card1Image"></div>
        <div class="card1Content">
            <h1 class= "card-text-big">{{services.name}}</h1>
            <p class= "card-text-small">{{services.content}}</p>
        </div>
    </div>
    {% endfor %}


    {% comment %} <div class="card2">
        <div class="card-image"><img src="{% static 'images/_icons/layers-half.svg'%}" alt="web development" class="card1Image" ></div>
        <div class="card1Content">
          <h1  class= "card-text-big">  UI/ UX Designer</h1>
          <p class= "card-text-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit ratione quo minus animi corrupti labore, dignissimos vitae dolores sapiente. </p>
        </div>
    </div>
    <div class="card3">
        <div class="card-image"><img src="{% static 'images/_icons/phone.svg'%}" alt="web development" class="card1Image"></div>
        <div class="card1Content">
 
           <h1  class= "card-text-big">App Development</h1>
           <p class= "card-text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magnam, sed officia molestiae expedita quibusdam esse harum possimus deserunt at!</p>
        </div>   
    </div>  {% endcomment %}
    
  </div>
  <div class="cardsLower">
    
    {% for services in nextThreeServices %}
        <div class="card4">
            <div class="card-image"><img src="{% static 'images/_icons/globe.svg'%}" alt="web development" class="card1Image"></div>
            <div class="card1Content">
                <h1 class= "card-text-big">{{services.name}}</h1>
                <p class= "card-text-small">{{services.content}}</p>
            </div>
        </div>
    {% endfor %} 
    
    {% comment %} <div class="card5">
        <div class="card-image"><img src="{% static 'images/_icons/graph-up-arrow.svg'%}" alt="web development" class="card1Image"></div>
        <div class="card1Content">
 
           <h1  class= "card-text-big">SEO Services</h1>
           <p class= "card-text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magnam, sed officia molestiae expedita quibusdam esse harum possimus deserunt at!</p>
        </div>   
    </div>
    <div class="card6">
        <div class="card-image"><img src="{% static 'images/_icons/pc.svg'%}" alt="web development" class="card1Image"></div>
        <div class="card1Content">
 
           <h1  class= "card-text-big">Software Development</h1>
           <p class= "card-text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda magnam, sed officia molestiae expedita quibusdam esse harum possimus deserunt at!</p>
        </div>   
    </div> {% endcomment %}
 </div> 
</div>
{% endblock content%}