{% load static%}
<div class="section-data">
 <div class="data">
  <div class="project-info">
      <div class="number" data-max="50"><span class="count">0</span><span class="plus-sign">+</span></div>
    
      <div class="label">Projects</div>

  </div>
  
  <div class="client-info">
      <div class="number" data-max="100"><span class="count">0</span><span class="plus-sign">+</span></div>
      <div class="label">Happy Clients</div>
  </div>
  <div class="product-info">
      <div class="number" data-max="5"><span class="count">0</span><span class="plus-sign">+</span></div>
      <div class="label">Our Products</div>
  </div>
 </div>
</div>

<script src="{% static 'javascript/dataCounter.js' %}"></script>
