{% load static%}
{% block content%}

{% comment %} <style>
    .background {
        background: rgba(0, 0, 0, 0.7) url("{{firstSectionContent.image.url}}") ;
        background-size: cover;
        background-blend-mode: darken;
        }
</style>  {% endcomment %}

  
<section class=" background firstSection">
    {% comment %} <div class = "about-shape-1 z-index-3">
        <img src="{% static 'images/_bg/breadcrumb-shape-1.png'%}" alt="">
    </div> {% endcomment %}
    {% comment %} <div class = "about-shape-2 z-index-3">
        <img src="{% static 'images/_bg/breadcrumb-shape-2.png'%}" alt="">
    </div> {% endcomment %}
    {% include "navBar.html" %}
    {% comment %} <hr class = "lightHR" style="opacity: 1;"> {% endcomment %}
    {% comment %} <!-- <iframe src="https://www.youtube.com/embed/GxEZsyoYHGY?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Faxixtechnologies.com&widgetid=1" frameborder="0" allowfullscreen></iframe> --> {% endcomment %}

    <div class="box-main">


        <div class="firstHalf">
        
           {% comment %} <p class="text-big">{{firstSectionContent.title}}</p> {% endcomment %}
            <div class="main-text-wrapper">
               <p class="text-big">Lets <span >Build </span></p>
               <p class="text-big">Great Things Together</p>
        
              {% comment %} <hr class="newCustomHR"> {% endcomment %}
                  <p class="text-small">{{firstSectionContent.description}} <span id="dynamicText" ></span>  </p>
            
            <div class = "mainButtons">
                <div class="btn-big clicked">
                    <button class="button-80" id = "btn-getStarted" role="button">Get Started <img src="../static/images/_icons/arrow-down.svg"       class="arrow-down-img" alt="arrow"></button>
                </div>
                <div class="btn-big clicked">
                    <button class="button-80" id = "btn-getStarted" role="button">Get Started <img src="../static/images/_icons/arrow-down.svg"       class="arrow-down-img" alt="arrow"></button>
                </div>
            </div>
            </div>
            <script src="{% static 'javascript/dynamic.js' %}"></script>
            <script src="{% static 'javascript/script.js' %}"></script>
        </div>
        {% comment %} <a href="Services" class="view-more-circle">
            <span></span>
            <h5 class="linear-text-two">View More</h5>
            <img src="assets/images/icons/arro-long.svg" alt="">
        </a> {% endcomment %}
        <script src="{% static 'javascript/dynamic.js' %}"></script>
      
        

        
        {% comment %} <div class="secondHalf "> {% endcomment %}
            <!--   =======================     3 GIF FOR A SLIDE SHOW    =================================-->
            {% comment %} <img src="./assets/images/_bg/giphy2.webp" alt="image" height="300px" width="300px">  {% endcomment %}

            {% comment %} <img src="{% static 'images/_bg/giphy2.webp' %}" alt="image" height="300px" width="300px"> {% endcomment %}
            
            {% comment %} <a href="index.html"><img src="{% static 'css/images/_bg/Cdoxs-Logo.png' %}%}" alt="LogoOfCDOXS"width="70" height="70"></a> {% endcomment %}

            {% comment %} <!-- <img src="./assets/images/_bg/giphy.webp" alt="image" height="300px" width="300px">  -->
            <!-- <img src="./assets/images/_bg/giphy.webp" alt="image" height="300px" width="300px">  -->  {% endcomment %}
        {% comment %} </div> {% endcomment %}

        {% comment %} <div class="arrow-button">
             <span>Next</span> 
          <img src="./assets/images/_icons/right-arrow.png" alt="right-arrow" width="80px" height="40px">
            <img src="{% static 'images/_icons/right-arrow.png' %}" alt="right-arrow" width="80px" height="40px">
        </div> {% endcomment %}
        

    </div>
    <div class = "box-main-video-container">
        <video autoplay muted loop id="myVideo">
            <source src="{% static 'images/_bg/anime.mp4' %}" type="video/mp4">
        </video>
    </div>
    {% comment %} <hr> {% endcomment %}
</section>

{% endblock content%}
