{% load static%}
{% block content%}

{% comment %} <style>
    .background {
        background: rgba(0, 0, 0, 0.7) url("{{firstSectionContent.image.url}}") ;
        background-size: cover;
        background-blend-mode: darken;
        }
</style>  {% endcomment %}

  
<section class=" background firstSection">

    {% include "navBar.html" %}
    <div class="box-main">
        <div class="firstHalf">
        
           {% comment %} <p class="text-big">{{firstSectionContent.title}}</p> {% endcomment %}
            <div class="main-text-wrapper">
               <p class="text-big">Lets <span >Build </span></p>
               <p class="text-big">Great Things Together</p>
        
              {% comment %} <hr class="newCustomHR"> {% endcomment %}
                  <p class="text-small">{{firstSectionContent.description}} <span id="dynamicText" ></span>  </p>
            
            <div class = "mainButtons">
                <div class="btn-big clicked">
                    <button class="button-80" id = "btn-getStarted" role="button">Get Started <img src="{% static 'images/_icons/arrow-down.svg'%}"       class="arrow-down-img" alt="arrow"></button>
                </div>
                {% comment %} <div class="btn-big clicked">
                    <button class="button-80" id = "btn-getStarted" role="button">Get Started <img src="../static/images/_icons/arrow-down.svg"       class="arrow-down-img" alt="arrow"></button>
                </div> {% endcomment %}
            </div>
            </div>
            <script src="{% static 'javascript/dynamic.js' %}"></script>
            <script src="{% static 'javascript/script.js' %}"></script>
        </div>
        
        <script src="{% static 'javascript/dynamic.js' %}"></script>

        <div class="secondHalf ">
            <!--   =======================     3 GIF FOR A SLIDE SHOW    =================================-->
            <img src="{% static 'images/_bg/nmn.png'%}" alt="image" height="300px" width="300px"> 

            {% comment %} <img src="{% static 'images/_bg/giphy2.webp' %}" alt="image" height="300px" width="300px"> {% endcomment %}
            
            {% comment %} <a href="index.html"><img src="{% static 'css/images/_bg/Cdoxs-Logo.png' %}%}" alt="LogoOfCDOXS"width="70" height="70"></a> {% endcomment %}

            {% comment %} <!-- <img src="./assets/images/_bg/giphy.webp" alt="image" height="300px" width="300px">  -->
            <!-- <img src="./assets/images/_bg/giphy.webp" alt="image" height="300px" width="300px">  -->  {% endcomment %}
        </div>
    </div>
    
</section>


{% endblock content%}
