{% load static %}
{% block content %}
<div class="info-box">
    <div class= "info-sections">


        <section class="section1">
           <p class="text-big">Company</p>
           <div class="text-small">
            <ul>
              <li><a href="{% url 'Home'%}">Home</a></li>
              <!-- <li><a href="{% url 'Services'%}">Services</a></li> -->
              <li><a href="{% url 'About'%}">About</a></li>
              <li><a href="{% url 'Careers'%}">Careers</a></li>
               <li><a href="{% url 'contact'%}">Contact</a></li>
            </ul>
            </div>
        </section>

        <div class="divider dividerResponsive"></div>

      <section class="section2">
           <p class="text-big">Services</p>
     
           <div class="text-small">
            <ul>     


               <li><a href="{% url 'Services'%}"> Web Development</a></li>
               <li><a href="{% url 'Services'%}"> UI/UX</a></li>
               <li><a href="{% url 'Services'%}"> App Development</a></li>
               <li><a href="{% url 'Services'%}"> SEO SERVICES</a></li>
               <li><a href="{% url 'Services'%}"> Software Development</a></li>




            </ul>
       
           </div>
        
      </section>


        <div class="divider dividerResponsive"></div>

      <section class="section3">
            <p class="text-big">Contact</p>
            <div class="text-small">
            <ul class="info-contact">
               <li class="address"> {{contact_info.address}}</li>
               <li class="phone">{{contact_info.phone}}</li>
               <li class="email">{{contact_info.email}}</li>
               <div class="info-socials">
                  <a href=""> <img src="{% static 'images/_icons/twitter.svg' %}" alt="X Logo" width="25px" height="25px"> </a>
                  <a href="#"> <img src="{% static 'images/_icons/facebook.svg' %}" alt=" facebook" width="25px" height="25px"> </a>
                  <a href="https://www.linkedin.com/company/cdoxs/?originalSubdomain=pk"> <img src="{% static 'images/_icons/linkedin.svg' %}" alt=" Linkedin"  width="25px" height="25px">  </a>
               </div>
               <!-- <li class="socials"><img src="{% static  "images/_icons/linkedin.png" %}" alt="linkedin" width= "60px" height= "60px">  <img src="{% static  "images/_icons/facebook.png" %}" alt="facebook" width= "60px" height= "60px"></li> -->
            </ul>
         </div>
      </section>

         
         {% comment %} <div class="divider"></div> {% endcomment %}


     <!-- <section class="section4"></section> -->
    </div>

</div>
{% endblock content %}