{% load static %}
{% block content %}
<nav class="navBar h-nav-responsive">
    <script src="{% static 'javascript/script.js'%}"></script>
   

    <div class="nav-logo  ">
        {% comment %} <a href="index.html"><img src="./assets/images/_bg/Cdoxs-Logo.png" alt="LogoOfCDOXS"width="70" height="70"></a> {% endcomment %}

        {% comment %} <a href="index.html"><img src="{% static 'css/images/_bg/Cdoxs-Logo.png' %}%}" alt="LogoOfCDOXS"width="70" height="70"></a> {% endcomment %}
        <a href="{% url 'Home'%}">
            <img src="{% static 'images/_bg/Cdoxs-Logo.png' %}" alt="LogoOfCDOXS" >
        </a>
        





    </div>
    <ul class ="nav-list v-class-responsive">

       
 
        {% comment %} {% for name, url in navbar.get_nav_items %}
        <li><a href="{{ url }}">{{ name }}</a></li>
        {% endfor %} {% endcomment %}

        {% comment %} {% for item in navigationBar %}
        <li><a href="{% url '{{item.urlName}}'%}">{{item.name}}</a></li>
        {% endfor %} {% endcomment %}
        <li><a href="{% url 'Home'%}">HOME</a></li>
        <li><a href="{% url 'Services'%}">SERVICES</a></li>
        <li><a href="{% url 'About'%}">ABOUT</a></li>
        <li><a href="{% url 'Careers'%}">CAREERS</a></li> 
        
        {% comment %} <li><a href="{% url 'Services'%}">SERVICES</a></li> {% endcomment %}

       
        <!-- <a href="{% url 'contact'%}"><button class="button-85" style="    margin-left: 300px;">Let's Talk</button></a> -->
        <!-- <a href="{% url 'contact'%}"> <button class="button-27"  >Let's Talk</button></a> -->
        <!-- HTML !-->
        {% comment %} <a href="{% url 'contact'%}"></a><button class="button-80" role="button">Let's Talk</button></a> {% endcomment %}
       <!-- <a href="{% url 'contact'%}"><button class="button-81" role="button">Button 81</button></a> -->


<!-- HTML !-->
<!-- <button class="button-27" >Button 27</button> -->


    </ul>

    <div class="nav-right v-class-responsive">
        <!-- <div class="search-icon">
            <input type="text" name="" id="">
           <button> <img src="./assets/images/_icons/search.png "alt="search-icon" width="10px" height="10px"></button>
        </div> -->

        {% comment %} <div class="search-container">
            <div class="search-bar" id="searchBar">
              <input type="text" class="search-input" id="search" placeholder="Search..." name = "search">
              <span class="close-icon" id="closeIcon">&times;</span>
            </div>
         
           
            <img src="{% static 'images/_icons/search.svg' %}" alt="searchIcon" class = "search-button" id = "searchButton">
           
            
        </div> {% endcomment %}
        <a href="{% url 'contact'%}"></a><button class="button-80" role="button">Let's Talk</button></a>

    </div> 


    <div class="hamburger ">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    {% comment %} <script src="./assets/javascript/script.js"></script> {% endcomment %}
    <script src="{% static 'javascript/responsive.js'%}"></script>
     <script src="{% static 'javascript/script.js'%}"></script>
   
    {% comment %} <script src="./assets/javascript/responsive.js"></script> {% endcomment %}

</nav>
{% endblock content %}