{% load static%}
<div class="timeline">
  <div class = "text-big Process" style="display: flex; flex-direction: row; color: black;" >Our <span style="font-style: italic; color:black;"> Process</span> </div>

  {% comment %} <div class="timeline-line"></div> {% endcomment %}
  
  {% comment %} <div class= "timeline-content">
    <div class="flip-card flipcard-1">
      <div class="flip-card-inner">
          <div class="flip-card-front">
              <p class="title">Planning</p>
              <p>Hover Me</p>
          </div>
          <div class="flip-card-back">
              <p class="title">BACK</p>
              <p>Leave Me</p>
          </div>
      </div>
    </div>
    <div class="flip-card flipcard-2">
      <div class="flip-card-inner">
          <div class="flip-card-front">
              <p class="title">Design</p>
              <p>Hover Me</p>
          </div>
          <div class="flip-card-back">
              <p class="title">BACK</p>
              <p>Leave Me</p>
          </div>
      </div>
    </div>
    <div class="flip-card flipcard-3">
      <div class="flip-card-inner">
          <div class="flip-card-front">
              <p class="title">Development</p>
              <p>Hover Me</p>
          </div>
          <div class="flip-card-back">
              <p class="title">BACK</p>
              <p>Leave Me</p>
          </div>
      </div>
    </div>
    <div class="flip-card flipcard-4">
      <div class="flip-card-inner">
          <div class="flip-card-front">
              <p class="title">Testing & QA</p>
              <p>Hover Me</p>
          </div>
          <div class="flip-card-back">
              <p class="title">BACK</p>
              <p>Leave Me</p>
          </div>
      </div>
    </div>
    <div class="flip-card flipcard-5">
      <div class="flip-card-inner">
          <div class="flip-card-front">
              <p class="title">Maintenance</p>
              <p>Hover Me</p>
          </div>
          <div class="flip-card-back">
              <p class="title">BACK</p>
              <p>Leave Me</p>
          </div>
      </div>
    </div>
  </div> {% endcomment %}


  <div class= "OurProcess">
    <div class="box-container box-container-upper">
        <div class="box1"> 
            <div class="boxIcon"><img src="../static/images/_icons/angular.png" alt=""></div>
            <div class="boxText text-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, cumque.</div>
        </div>
        <div class="box1"> 
          <div class="boxIcon"><img src="../static/images/_icons/angular.png" alt=""></div>
          <div class="boxText text-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, cumque.
          </div>
        </div>
        <div class="box1"> 
            <div class="boxIcon"><img src="../static/images/_icons/angular.png" alt=""></div>
            <div class="boxText text-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, cumque.</div>
        </div>
    </div>
    <div class="box-container box-container-lower">
        <div class="box1"> 
            <div class="boxIcon"><img src="../static/images/_icons/angular.png" alt=""></div>
            <div class="boxText text-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, cumque.</div>
        </div>
        <div class="box1"> 
          <div class="boxIcon"><img src="../static/images/_icons/angular.png" alt=""></div>
          <div class="boxText text-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, cumque.
          </div>
        </div>
        <div class="box1"> 
            <div class="boxIcon"><img src="../static/images/_icons/angular.png" alt=""></div>
            <div class="boxText text-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, cumque.</div>
        </div>
    </div>
  </div>

</div>