
<section class="secLeft visible">
   
    <div class="paragraphs">
      <p class="sectionTag ">Hello </p>
      <p class="sectionSubTag ">lore mins input suito watier int ol mins input suito watier int ol mins input suito watier int ol mins input suito watier int ol mins input suito watier int ol mins input suito watier int ols gome loge flamil lanlut</p>
    </div>
    <div class = "thumbnail">
       {% comment %} <img src="{{item.image.url}}" alt="thumbnail" class="imgFluid"> {% endcomment %}
       <img src="{% static 'images/_bg/mono.svg'%}" alt="thumbnail" class="imgFluid">
    </div>
</section>
<section class=" visible" style="display: flex; flex-direction: row-reverse;">
 
    <div class="paragraphs">
      <p class="sectionTag ">Hello </p>
      <p class="sectionSubTag ">lore mins input suito watier int ol mins input suito watier int ol mins input suito watier int ol mins input suito watier int ol mins input suito watier int ol mins input suito watier int ols gome loge flamil lanlut</p>
    </div>
    <div class = "thumbnail">
       {% comment %} <img src="{{item.image.url}}" alt="thumbnail" class="imgFluid"> {% endcomment %}
       <img src="{% static 'images/_bg/mono.svg'%}" alt="thumbnail" class="imgFluid">
    </div>
</section>
<section class="secLeft visible">
 
    <div class="paragraphs">
      <p class="sectionTag ">Hello </p>
      <p class="sectionSubTag ">lore mins input suito watier int ol mins input suito watier int ol mins input suito watier int ol mins input suito watier int ol mins input suito watier int ol mins input suito watier int ols gome loge flamil lanlut</p>
    </div>
    <div class = "thumbnail">
       {% comment %} <img src="{{item.image.url}}" alt="thumbnail" class="imgFluid"> {% endcomment %}
       <img src="{% static 'images/_bg/mono.svg'%}" alt="thumbnail" class="imgFluid">
    </div>
</section>