{% load static%}
{% block content%}
<div class="sections">
    <script src="{% static 'javascript/script.js'%}"></script>

   {% for item in one%}
    <section class="secRight visible">
      
           <div class="paragraphs">
            <p class="sectionTag ">{{item.title}}</p>
       
            <p class="sectionSubTag ">{{item.description}}</p>
           </div>
           <div class = "thumbnail">
             {% comment %} <img src="./assets/images/_bg/bgg.jpg" alt="" class="imgFluid"> {% endcomment %}
               <img src="{{item.image.url}}" alt="thumbnail" class="imgFluid">
           </div>

         </section>
   {% endfor %}
   
   {% for item in two%}
    <section class="secLeft visible">
       <div class="paragraphs">
        <p class="sectionTag ">{{item.title}}</p>
   
        <p class="sectionSubTag ">{{item.description}}</p>
       </div>
       <div class = "thumbnail">
         <img src="{{item.image.url}}" alt="thumbnail" class="imgFluid">
       </div>
    </section>
   {% endfor %}

   {% comment %} 
    <section class="secRight visible">
       <div class="paragraphs">
        <p class="sectionTag ">Lorem  sit amet consectet .</p>
   
        <p class="sectionSubTag ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat  laudantium totam deserunt ea dignissimos labore delectus laboriosam dolorem fuga pariatur doloremque natus maiores debitis odio saepe dolor</p>
       </div>
       <div class = "thumbnail">
           <img src="{% static "images/_bg/bgg.jpg" %}" alt="thumbnail" class= "imgFluid">
       </div>
    </section>
    
    <section class="secLeft visible">
       <div class="paragraphs">
        <p class="sectionTag ">Loremt quaerat unde .</p>
   
        <p class="sectionSubTag ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat  laudantium totam deserunt ea dignissimos labore delectus laboriosam dolorem fuga pariatur e dolorem repellendus  eos ex tempore vero explicabo odit, magni neque consequatur. Praesentium, debitis.</p>
       </div>
       <div class = "thumbnail">
          <img src="{% static "images/_bg/bgg.jpg" %}" alt="thumbnail" class= "imgFluid">
       </div>
    </section>
    {% endcomment %}
</div>
{% endblock content%}