{% load static%}
{% block content%}
 <!-- <div class="sectionContent">
   <p class="text-bigy">What we Do</p>
      <p class="text-small">
      CDOXS empowers hundreds of clients globally to embrace modern technology and elevate customer experiences.</p>
   

</div>  -->
<div class="cube-loader">
  <div class="cube-top"></div>
  <div class="cube-wrapper">
    <span style="--i:0" class="cube-span"></span>
    <span style="--i:1" class="cube-span"></span>
    <span style="--i:2" class="cube-span"></span>
    <span style="--i:3" class="cube-span"></span>
  </div>
</div> 
<div class="sections">
    {% include 'about_section.html'%}
    {% include 'data.html'%}
    
    {% include 'process.html'%}
  
</div>
{% endblock content%}