{% load static%}

<section class="team-section">
    <div class="team-container">
        <h2 class="section-title text-big">Meet Our <span>Team</span></h2>
        <script src="{% static 'javascript/script.js' %}"></script>
        <div class="row">
            <div class="col-md-4 team-member team-member1">
                <img src="{% static 'images/_bg/face.jpeg'%}" alt="Team Member 1">
                <h5>Mr. Zakir</h5>
                <p>CEO & Co-Founder</p>
            </div>
            
            <div class="col-md-4 team-member team-member2">
                <img src="{% static 'images/_bg/face2.jpeg'%}" alt="Team Member 2">
                <h5>Mr. Waqar</h5>
                <p>CEO & Co-Founder</p>
                <div class = "vrLine"></div>
            </div>
            
            <div class="col-md-4 team-member team-member3">
                <img src="{% static 'images/_bg/HamzaPic.png'%}" alt="Team Member 3">
                <h5>Muhammad Hamza</h5>
                <p>Lead Developer</p>
                <div class = "vrLine"></div>
            </div>
        </div>
    </div>
</section>