<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | CDOXS</title>
</head>
<body>
    {% load static %}
{% comment %} <h1>about page</h1> {% endcomment %}
 {% block content%}
 {% include 'main.html'%}
 {% include 'navbar.html'%}
 <div class="aboutContent">
    <div class="aboutContainer">

        <div class="about-dark">
            <div class=" aboutText1 ">About US <span></span></div>
            </div>
           
        <div class="about-light">
            <div class=" aboutText2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet porro reiciendis molestiae unde? Dolorum eum similique, tempore consequatur nam ipsam <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, odio?</span></div>
            </div>
           
    </div>
 </div>

 {% include 'information.html'%}
 {% comment %} {% include 'endbar.html'%} {% endcomment %}
 {% endblock content%}
</body>
</html>



