<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers | CDOXS</title>
    {% include 'main.html'%}
</head>
<body>
    
    {% load static %}
{% comment %} <h5>services page</h5> {% endcomment %}
{% comment %} {% include 'main.html'%} {% endcomment %}

{% block content%}


<div class="career-container">
    {% include 'navBar.html'%}
    
{% comment %} {% include 'cards.html'%} {% endcomment %}
 <div class = "main-text-wrapper">
   <p class = "text-big text-career-main" > Make a Successful Career with CDOXS </p>
   <p class = "text-small text-career-sub" >Apply For Dream Job & <span> Get Started</span>  </p>
   <button class="button-80" id = "btn-getStarted" role="button">Get Started <img src="../static/images/_icons/arrow-down.svg"   class="arrow-down-img" alt="arrow"></button>
</div>


   <div class="cards career-cards">
    <hr class = "lightHR">
    <p class = " info-text" > Positions Available </p>
     {% for item in jobs%}
      <div class="card1 ">
         <div class="card-image"><img src="{{item.image.url}}" alt="icon" class="card1Image"  ></div>
         <div class="card1Content">
             <h1 class= "card-text-big">{{item.title}}</h1>
             <p class= "card-text-small">{{item.description}}</p>
             <div class="card-text-small apply-link"><a class="apply-link" href="{{item.url|safe}} " target="_blank" style="text-decoration: none;"> </a></div>
         </div>
      </div>

      {% endfor %}
 
</div>
    
</div>

{% comment %} {% include 'information.html'%} {% endcomment %}
{% include 'endbar.html'%}

{% endblock content%}

</body>
</html>

