<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers | CDOXS</title>
    {% include 'main.html'%}
</head>
<body>
    
    {% load static %}


{% block content%}


<div class="career-container">
    
    
  <div class = "main-text-wrapper mtwc">
    {% include 'navBar.html'%}
   <p class = "text-big text-career-main" > Make a Successful Career with CDOXS </p>
   <p class = "text-small text-career-sub" >Apply For Dream Job & <span> Get Started</span>  </p>
   <button class="button-80" id = "btn-getStarted" role="button">Get Started <img src="../static/images/_icons/arrow-down.svg"   class="arrow-down-img" alt="arrow"></button>
  </div>
  {% include 'scrollToTopButton.html'%}

  <div class="cards career-cards">
    <p class = " info-text text-big" > Positions <span>Available</span> </p>
    {% include 'careerCard.html'%}
    
 
  </div>
    
</div>

{% include 'information.html'%}

{% endblock content%}

</body>
</html>

