
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{content}}" />

    <title>{{title}}</title>

    <link rel="shortlink" href="https://www.cdoxs.com/index.html">
    <link rel="cononical" href="https://www.cdoxs.com/index.html">
    <meta property = "keyword" content="IT services">
    <meta property = "keyword" content="IT company ">
    <meta property = "keyword" content="IT company in Pakistan">
    <meta property = "keyword" content="IT company in Lahore">
    <meta property = "keyword" content="Web Development in Lahore">
    <meta property = "keyword" content="Web Design in Lahore">
    <meta property = "keyword" content="PPC in Lahore">
    <meta property = "keyword" content="Social Media Services in Lahore">
    <meta property = "keyword" content="Online Marketing in Lahore">
    <meta property = "keyword" content="SEO services in Lahore">

    <meta property="og:title" content="CDOXS | Enabling a Digital Tomorrow">


    <meta property="og:site_name" content="{{title}}">
    <meta property="og:url" content="https://www.cdoxs.com/index.html">
    <!-- {% comment %} 
    <link rel="icon" href="./assets/images/icons/logo-icon.svg" type="image/gif" sizes="20x20">

    <link rel="stylesheet" href="./assets/css/animate.css">
   
    <link rel="stylesheet" href="./assets/css/all.css">

    
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="./assets/css/boxicons.min.css">

    <link rel="stylesheet" href="./assets/css/bootstrap-icons.css">

   
    <link rel="stylesheet" href="./assets/css/jquery-ui.css">


    <link rel="stylesheet" href="./assets/css/swiper-bundle.css">

    
    <link rel="stylesheet" href="./assets/css/odometer.css">

   
    <link rel="stylesheet" href="./assets/fonts/stylesheet.css">

    <link rel="stylesheet" href="./assets/css/jquery.fancybox.min.css"> {% endcomment %} -->

  
    <!-- <link rel="stylesheet" href="./assets/css/style.css">     -->

    <!-- <link rel="stylesheet" href="./assets/css/style.css">     -->
    <link rel='stylesheet' type='text/css' media= 'screen' href="{% static 'css/style.css' %}">




    <!--  The CSS file I added -->
    <!-- <link rel="stylesheet" href="./assets/_css/style.css"> -->


    <!--  GOOGLE FONT IMPORTED FROM THE WEB-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">



    <!--  GOOGLE FONT IMPORTED FROM THE WEB-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

</head>
<body  class="tt-magic-cursor bg-image-overlay">
    <!-- ==================================================PRELOADERN  START ==============================-->
    {% comment %} <div class="preloader">
        <div class="counter">0</div>
    </div> 
    <script src="{% static 'javascript/script.js'%}"></script> {% endcomment %}
    <!-- ==================================================PRELOADERN  END ==============================-->
    
    <!-- ==================================================MAGIC CURSOR START ==============================-->
    {% comment %} <div id="magic-cursor">
        <div id="ball"></div>
    </div>
    <script src="{% static 'javascript/script.js'%}"></script> {% endcomment %}
        <!-- ==================================================MAGIC CURSOR   END ==============================-->
        
            <!-- <script src="./assets/javascript/script.js"></script> -->
          
    <script src="{% static 'javascript/script.js'%}"></script>

            
            
        
            
        
        
        
        
            
        
        
  <!-- ==================================================TOPBAR Start==============================-->
     {% include 'topbar.html'%}
  <!-- ==================================================TOPBAR END==============================-->



   <!-- ==================================================NAVBAR START==============================-->
     {% include "navBar.html" %}
   <!-- ==================================================NAVBAR END ==============================-->



  <!-- ===========================================START OF Banner========================================  -->
  <section class=" background firstSection "  >
    
    {% comment %} <!-- <iframe src="https://www.youtube.com/embed/GxEZsyoYHGY?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Faxixtechnologies.com&widgetid=1" frameborder="0" allowfullscreen></iframe> --> {% endcomment %}

    <div class="box-main">



        <div class="firstHalf">
        <p class="text-big">Welcome to CDOXS!</p>
        <p class="text-small">Boost your career in <span id="dynamicText" ></span>  <div class="btn-big clicked">
            <button id="btn-getStarted"  > Get Started</button>
          </div></p>
        </div>
        {% comment %} <script src="./assets/javascript/dynamic.js"></script> {% endcomment %}
        <script src="{% static 'javascript/dynamic.js'%}"></script>
        
      
        

        
        <div class="secondHalf ">
            <!--   =======================     3 GIF FOR A SLIDE SHOW    =================================-->
            {% comment %} <img src="./assets/images/_bg/giphy2.webp" alt="image" height="300px" width="300px">  {% endcomment %}

            <img src="{% static 'images/_bg/giphy2.webp' %}" alt="image" height="300px" width="300px">
            
            {% comment %} <a href="index.html"><img src="{% static 'css/images/_bg/Cdoxs-Logo.png' %}%}" alt="LogoOfCDOXS"width="70" height="70"></a> {% endcomment %}

            {% comment %} <!-- <img src="./assets/images/_bg/giphy.webp" alt="image" height="300px" width="300px">  -->
            <!-- <img src="./assets/images/_bg/giphy.webp" alt="image" height="300px" width="300px">  -->  {% endcomment %}
        </div>

        <div class="arrow-button">
            <!-- <span>Next</span> -->
          {% comment %} <img src="./assets/images/_icons/right-arrow.png" alt="right-arrow" width="80px" height="40px"> {% endcomment %}
            <img src="{% static 'images/_icons/right-arrow.png' %}" alt="right-arrow" width="80px" height="40px">
        </div>
        

    </div>
    
  </section>

  <hr>

  <div class="sections">
 <section class="secRight">
        <div class="paragraphs">
         <p class="sectionTag ">Lorem  sit amet consectetur adipisicing elit. Odit quaerat unde .</p>
    
         <p class="sectionSubTag ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat  laudantium totam deserunt ea dignissimos labore delectus laboriosam dolorem fuga pariatur doloremque natus maiores debitis odio saepe dolore, accusantium qui libero.</p>
        </div>
        <div class = "thumbnail">
          {% comment %} <img src="./assets/images/_bg/bgg.jpg" alt="" class="imgFluid"> {% endcomment %}
          <img src="{% static "images/_bg/bgg.jpg" %}" alt="thumbnail" class= "imgFluid">
        </div>
 </section>
 <section class="secLeft">
    <div class="paragraphs">
     <p class="sectionTag ">Lorem  sit amet consectetur adipisicing elit. Odit quaerat unde .</p>

     <p class="sectionSubTag ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat  laudantium totam deserunt ea dignissimos labore delectus laboriosam dolorem fuga pariatur e dolorem repellendus aliquid. Ab omnis minima iure exercitationem nulla quam doloremque amet necessitatibus consequatur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt ratione adipisci ducimus accusamus obcaecati laudantium dolorem unde praesentium maxime eos ex tempore vero explicabo odit, magni neque consequatur. Praesentium, debitis.</p>
    </div>
    <div class = "thumbnail">
        <img src="{% static "images/_bg/bgg.jpg" %}" alt="thumbnail" class= "imgFluid">
    </div>
 </section>
 <section class="secRight">
    <div class="paragraphs">
     <p class="sectionTag ">Lorem  sit amet consectetur adipisicing elit. Odit quaerat unde .</p>

     <p class="sectionSubTag ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat  laudantium totam deserunt ea dignissimos labore delectus laboriosam dolorem fuga pariatur doloremque natus maiores debitis odio saepe dolore, accusantium qui libero.</p>
    </div>
    <div class = "thumbnail">
        <img src="{% static "images/_bg/bgg.jpg" %}" alt="thumbnail" class= "imgFluid">
    </div>
 </section>
 <section class="secLeft">
    <div class="paragraphs">
     <p class="sectionTag ">Lorem  sit amet consectetur adipisicing elit. Odit quaerat unde .</p>

     <p class="sectionSubTag ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat  laudantium totam deserunt ea dignissimos labore delectus laboriosam dolorem fuga pariatur e dolorem repellendus aliquid. Ab omnis minima iure exercitationem nulla quam doloremque amet necessitatibus consequatur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt ratione adipisci ducimus accusamus obcaecati laudantium dolorem unde praesentium maxime eos ex tempore vero explicabo odit, magni neque consequatur. Praesentium, debitis.</p>
    </div>
    <div class = "thumbnail">
       <img src="{% static "images/_bg/bgg.jpg" %}" alt="thumbnail" class= "imgFluid">
    </div>
 </section>
  </div>
  <!-- 
 ===========================================END OF Banner======================================== -->
 
 
 
 
   <!-- ===========================================START OF CLIENT TESTIMONIAL======================================== --> 
 <hr>
  <section class="clienTestimonial">    
  
  <div class="paragraphs">
    <div class="text-bigg">
       <p> Client Testimonial </p>
    </div>
    <div class="testimonialImage">
        <img src="{% static 'images/_bg/masoon.png' %}" alt="searchIcon" class = "search-button" id = "searchButton"">
        
    </div>
    <div class="text-smalll">
        <p "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eveniet alias labore itaque tenetur? Odio, sed! Quos sit modi corporis suscipit vitae quo. Ipsum, error. Blanditiis ab veniam corporis qui?</p>
     </div>
  </div>
  </section>

 <!-- ===========================================END OF CLIENT TESTIMONIAL======================================== --> 


 <!-- ===========================================START OF Information section======================================== --> 
  <hr class = "customHR">
{% include 'information.html'%}

 <!-- ===========================================End OF Information section======================================== --> 
 
 
 
 
 
 
 
 
 <!-- ===========================================START OF ENDING BAR ======================================== --> 
  <div class="endingBar">
        <div class="endingBarContent">
            <p> &copy 2024 | CDOXS &nbsp;  &nbsp; &nbsp;</p> 
            <p>Let's make amazing things together!</p>
            
            <!-- <button>click</button>
            <button>hi</button> -->
        </div>
  </div>
 <!-- ===========================================END OF ENDING BAR======================================== --> 









 

    <!-- ===========================================START OF HEADER========================================  -->
  
   <!-- =============================================End of Header=============================================-->

 

     {% comment %} <!-- ========== banner-section start============= -->

     <!-- <div class="banner-five-area overflow-hidden">
        <div class="container-fluid px-0">
            <div class="banner-five-wrap">
                <div class="banner-five-sidebar">
                    <div class="sidebar-button  mobile-menu-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="social-style-one">
                        <li>
                        <a href="https://www.linkedin.com/"><i class='bx bxl-linkedin'></i></a>
                        </li>
                        <li>
                        <a href="https://www.pinterest.com/"><i class='bx bxl-pinterest-alt' ></i></a>
                        </li>
                        <li>
                        <a href="https://www.instagram.com/"><i class='bx bxl-instagram' ></i></a>
                        </li>
                        <li>
                        <a href="https://www.facebook.com/"><i class='bx bxl-facebook' ></i></a>
                        </li>
                    </ul>
                    <div class="scroll-down">
                        <a href="#about">Scroll Down</a>
                    </div>
                </div>
                <div class="banner-five-main postition-relative">
                    <div class="swiper banner-five-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="banner-five-image">
                                    <img src="./assets/images/banner/banner-five/banner5-1.jpg" alt="image">
                                </div>
                                <div class="banner-five-content">
                                    <span class="linear-text-two">What We Do</span>
                                    <h2>Progress With<span class="linear-text-two"> Digital Marketing.</span></h2>
                                    <p>Anyone who loves or pursues or desires to obtain pain of itself, because it is pain, because occasionally circumstances occur in which toil.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-five-image">
                                    <img src="./assets/images/banner/banner-five/banner5-2.jpg" alt="image">
                                </div>
                                <div class="banner-five-content">
                                    <span class="linear-text-two">What We Do</span>
                                    <h2>Business Growing With <span class="linear-text-two">Design</span></h2>
                                    <p>Anyone who loves or pursues or desires to obtain pain of itself, because it is pain, because occasionally circumstances occur in which toil.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-five-image">
                                    <img src="./assets/images/banner/banner-five/banner5-3.jpg" alt="image">
                                </div>
                                <div class="banner-five-content">
                                    <span class="linear-text-two">What We Do</span>
                                    <h2>Business Growing With <span class="linear-text-two">Development</span></h2>
                                    <p>Anyone who loves or pursues or desires to obtain pain of itself, because it is pain, because occasionally circumstances occur in which toil.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrows banner-five-arrow d-flex justify-content-center flex-sm-column flex-row">
                        <div class="banner-five-prev swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> 
                            <img src="./assets/images/icons/arrow-prev-one.svg" alt="">
                        </div>
                        <div class="banner-five-next swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"> 
                            <img src="./assets/images/icons/arrow-next-one.svg" alt="">
                        </div>
                    </div>
                    <a href="services.html" class="view-more-circle">
                        <span></span>
                        <h5 class="linear-text-two">View More</h5>
                        <img src="./assets/images/icons/arro-long.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div> -->

    <!--- ========== banner-section end============= -->
  {% endcomment %}

</body>
</html>