
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{content}}" />

    <title>{{title}}</title>

    <link rel="shortlink" href="https://www.cdoxs.com/index.html">
    <link rel="cononical" href="https://www.cdoxs.com/index.html">
    <meta property = "keyword" content="IT services">
    <meta property = "keyword" content="IT company ">
    <meta property = "keyword" content="IT company in Pakistan">
    <meta property = "keyword" content="IT company in Lahore">
    <meta property = "keyword" content="Web Development in Lahore">
    <meta property = "keyword" content="Web Design in Lahore">
    <meta property = "keyword" content="PPC in Lahore">
    <meta property = "keyword" content="Social Media Services in Lahore">
    <meta property = "keyword" content="Online Marketing in Lahore">
    <meta property = "keyword" content="SEO services in Lahore">

    <meta property="og:title" content="CDOXS | Enabling a Digital Tomorrow">


    <meta property="og:site_name" content="{{title}}">
    <meta property="og:url" content="https://www.cdoxs.com/index.html">
    <!-- {% comment %} 
    <link rel="icon" href="./assets/images/icons/logo-icon.svg" type="image/gif" sizes="20x20">

    <link rel="stylesheet" href="./assets/css/animate.css">
   
    <link rel="stylesheet" href="./assets/css/all.css">

    
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="./assets/css/boxicons.min.css">

    <link rel="stylesheet" href="./assets/css/bootstrap-icons.css">

   
    <link rel="stylesheet" href="./assets/css/jquery-ui.css">


    <link rel="stylesheet" href="./assets/css/swiper-bundle.css">

    
    <link rel="stylesheet" href="./assets/css/odometer.css">

   
    <link rel="stylesheet" href="./assets/fonts/stylesheet.css">

    <link rel="stylesheet" href="./assets/css/jquery.fancybox.min.css"> {% endcomment %} -->

  
    <!-- <link rel="stylesheet" href="./assets/css/style.css">     -->

    <!-- <link rel="stylesheet" href="./assets/css/style.css">     -->
    <link rel='stylesheet' type='text/css' media= 'screen' href="{% static 'css/style.css' %}">




    <!--  The CSS file I added -->
    <!-- <link rel="stylesheet" href="./assets/_css/style.css"> -->


    <!--  GOOGLE FONT IMPORTED FROM THE WEB-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">



    <!--  GOOGLE FONT IMPORTED FROM THE WEB-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

</head>
<body  class="tt-magic-cursor bg-image-overlay">
    <!-- ==================================================PRELOADERN  START ==============================-->
    {% comment %} <div class="preloader">
        <div class="counter">0</div>
    </div> 
    <script src="{% static 'javascript/script.js'%}"></script> {% endcomment %}
    <!-- ==================================================PRELOADERN  END ==============================-->
    
    <!-- ==================================================MAGIC CURSOR START ==============================-->
    {% comment %} <div id="magic-cursor">
        <div id="ball"></div>
    </div>
    <script src="{% static 'javascript/script.js'%}"></script> {% endcomment %}
        <!-- ==================================================MAGIC CURSOR   END ==============================-->
        
            <!-- <script src="./assets/javascript/script.js"></script> -->
          
    <script src="{% static 'javascript/script.js'%}"></script>

            
            
        
            
        
        
        
        
            
        
        
  <!-- ==================================================TOPBAR Start==============================-->
     {% include 'topbar.html'%}
  <!-- ==================================================TOPBAR END==============================-->



   <!-- ==================================================NAVBAR START==============================-->
     {% include "navBar.html" %}
   <!-- ==================================================NAVBAR END ==============================-->



  <!-- ===========================================START OF Banner========================================  -->

  
  {% comment %} <style>
    .background {
        background: rgba(0, 0, 0, 0.7) url("
        {% if content.image %}
        {{ content.image.url }}
        {% else %}
        ../images/_bg/coding.jpg
        {% endif %}");
        background-size: cover;
        background-blend-mode: darken;
    }
</style> {% endcomment %}

 {% include "firstSection.html"%}

 {% comment %} ===========================================END OF Banner=========================================  {% endcomment %}



 
  <hr>
 {% comment %} ===========================================START OF SECTIONS=====================================  {% endcomment %}
 
 {% include "sections.html"%}
 
 {% comment %} ===========================================END OF SECTIONS========================================  {% endcomment %}
 
 
  


 {% comment %} ===========================================START OF CLIENT TESTIMONIAL============================  {% endcomment %}
  
 <hr>
<section class="clienTestimonial">    
  
  <div class="paragraphs">
       <div class="text-bigg">
           <p> Client Testimonial </p>
       </div>
       <div class="testimonialImage">
           <img src="{% static 'images/_bg/masoon.png' %}" alt="searchIcon" class = "search-button" id = "searchButton">
        
       </div>
       <div class="text-smalll">
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eveniet alias labore itaque tenetur? Odio, sed! Quos sit modi corporis suscipit vitae quo. Ipsum, error.    Blanditiis ab veniam corporis qui?</p>
        </div>
  </div>
</section>

 {% comment %} ===========================================END OF CLIENT TESTIMONIAL==============================  {% endcomment %}




 {% comment %} ===========================================START OF Information section===========================  {% endcomment %}
  {% comment %} <hr class = "customHR"> {% endcomment %}
{% include 'information.html'%}

 {% comment %} ===========================================End OF Information section=============================   {% endcomment %}
 
 
 
 
 
 
 
 
  {% comment %} ===========================================START OF ENDING BAR ==================================   {% endcomment %}


  <div class="endingBar">
        <div class="endingBarContent">
            <p> &copy 2024 | CDOXS &nbsp;  &nbsp; &nbsp;</p> 
            <p>Let's make amazing things together!</p>
            
            <!-- <button>click</button>
            <button>hi</button> -->
        </div>
  </div>
  {% comment %} ===========================================END OF ENDING BAR=====================================   {% endcomment %}









 

    <!-- ===========================================START OF HEADER========================================  -->
  
   <!-- =============================================End of Header=============================================-->

 

     {% comment %} <!-- ========== banner-section start============= -->

     <!-- <div class="banner-five-area overflow-hidden">
        <div class="container-fluid px-0">
            <div class="banner-five-wrap">
                <div class="banner-five-sidebar">
                    <div class="sidebar-button  mobile-menu-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="social-style-one">
                        <li>
                        <a href="https://www.linkedin.com/"><i class='bx bxl-linkedin'></i></a>
                        </li>
                        <li>
                        <a href="https://www.pinterest.com/"><i class='bx bxl-pinterest-alt' ></i></a>
                        </li>
                        <li>
                        <a href="https://www.instagram.com/"><i class='bx bxl-instagram' ></i></a>
                        </li>
                        <li>
                        <a href="https://www.facebook.com/"><i class='bx bxl-facebook' ></i></a>
                        </li>
                    </ul>
                    <div class="scroll-down">
                        <a href="#about">Scroll Down</a>
                    </div>
                </div>
                <div class="banner-five-main postition-relative">
                    <div class="swiper banner-five-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="banner-five-image">
                                    <img src="./assets/images/banner/banner-five/banner5-1.jpg" alt="image">
                                </div>
                                <div class="banner-five-content">
                                    <span class="linear-text-two">What We Do</span>
                                    <h2>Progress With<span class="linear-text-two"> Digital Marketing.</span></h2>
                                    <p>Anyone who loves or pursues or desires to obtain pain of itself, because it is pain, because occasionally circumstances occur in which toil.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-five-image">
                                    <img src="./assets/images/banner/banner-five/banner5-2.jpg" alt="image">
                                </div>
                                <div class="banner-five-content">
                                    <span class="linear-text-two">What We Do</span>
                                    <h2>Business Growing With <span class="linear-text-two">Design</span></h2>
                                    <p>Anyone who loves or pursues or desires to obtain pain of itself, because it is pain, because occasionally circumstances occur in which toil.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-five-image">
                                    <img src="./assets/images/banner/banner-five/banner5-3.jpg" alt="image">
                                </div>
                                <div class="banner-five-content">
                                    <span class="linear-text-two">What We Do</span>
                                    <h2>Business Growing With <span class="linear-text-two">Development</span></h2>
                                    <p>Anyone who loves or pursues or desires to obtain pain of itself, because it is pain, because occasionally circumstances occur in which toil.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrows banner-five-arrow d-flex justify-content-center flex-sm-column flex-row">
                        <div class="banner-five-prev swiper-prev-arrow" tabindex="0" role="button" aria-label="Previous slide"> 
                            <img src="./assets/images/icons/arrow-prev-one.svg" alt="">
                        </div>
                        <div class="banner-five-next swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide"> 
                            <img src="./assets/images/icons/arrow-next-one.svg" alt="">
                        </div>
                    </div>
                    <a href="services.html" class="view-more-circle">
                        <span></span>
                        <h5 class="linear-text-two">View More</h5>
                        <img src="./assets/images/icons/arro-long.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div> -->

    <!--- ========== banner-section end============= -->
  {% endcomment %}

</body>
</html>