<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services | CDOXS </title>
</head>
<body>
    {% load static %}
{% comment %} <h5>services page</h5> {% endcomment %}
{% include 'main.html'%}
{% include 'banner.html'%}
{% include 'preloader.html'%}
{% block content%}

{% include 'scrollToTopButton.html'%}

{% include 'cards.html'%}
{% include 'process.html'%}
    
{% include 'information.html'%}
{% comment %} {% include 'endbar.html'%} {% endcomment %}

{% endblock content%}
</body>
</html>

